@import "../../shared/style/baseStyle.scss";
@import "../../shared/style/lineOrganization.scss";
@import "../../shared/style/colors.scss";
@import "../../shared/style/textStyles.scss";

.password-consumer-card {
  position: absolute;
  top: 150px;
  left: 35%;
  right: 35%;
  transition-property: opacity;
  width: inherit;
  height: inherit;
  text-overflow: ellipsis;
  background: $backgroundCard;
  padding: 10px 20px;
  border: 2px solid black;
  box-shadow: $baseShadow;
}

.input-container-line {
  display: flex;
  align-items: center;
}

.container-password{
  display: flex;
  align-items: baseline;
  &--input-line {
    @extend .container-password;
    justify-content: space-around;
    display: flex;
  }
}
