<div *ngIf="isOpen">
  <div class="dialog-background-scrim">
  </div>

  <div class="password-creator-card mat-elevation-z5">
    <p class="settings-title-text">d.o.g:: passwordProtection;</p>
    <div class="container-password">
      <span class="password-label item">
        <p class="settings-label-text">Create with password protection:</p>
      </span>
      <input type="checkbox" class="checkbox-set-password" [(ngModel)]="isPasswordRequested" (click)="resetPassword()">
    </div>
    <div class="container-password--input-line">
      <div class="input-container-line" [ngClass]="{'disabled': !isPasswordRequested}">
        <div class="fixed">
          <span class="password-label item">
            <p class="settings-label-text">Set password (5-30 characters):</p>
          </span>
        </div>
        <div class="flex-item">
          <form>
            <input class="input-password-settings" [formControl]="newPassword" name="newPassword" #input>
          </form>
        </div>
      </div>
    </div>
    <div class="container button-create-position">
      <div class="mr-0">
        <button [ngClass]="{'disabled': !buttonEnabled()}" (click)="goForward()">Create</button>
      </div>
    </div>
  </div>
</div>
