$baseShadow: #ffa580;
$backgroundCard: #f8f4e5;
$buttonShadow: #95a4ff;
$mainBackgroundColor: #fff7af;
$loadingBackgroundColor: $baseShadow;
$loadingAnimationBarColor: $mainBackgroundColor;
$loadingNotesFontColor: $mainBackgroundColor;
$baseShadowNotesRow: #9d5aaac0;
$completedShadowNotesRow: #4467c9c0;
$finishedTaskNote: #278f07c0;
