.title-text{
  font-family: "Fjalla One";
  font-size: 200%;
}

.settings-title-text{
  font-family: "Fjalla One";
  font-size: 200%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.settings-label-text{
  font-family: "Fjalla One";
  font-size: 100%;
}

.currently-editing-label-text{
  font-family: "Fjalla One";
  font-size: 100%;
}

.char-count-label-text{
  font-family: "Fjalla One";
  font-size: 100%;
}
