@import "../../shared/style/baseStyle.scss";
@import "../../shared/style/textStyles.scss";

.settings-label-text{
  font-family: "Fjalla One";
  font-size: 100%;
  &--with-right-padding{
    @extend .settings-label-text;
    padding-right: 10px;
  }
}

.settings-label-variables{
  font-family: "Gloria Hallelujah";
  font-size: 100%;
}

.keep-them-in-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &--with-bottom-padding{
    @extend .keep-them-in-line;
    padding-bottom: 5px;
  }
}

.information-box-name {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}
.information-box-space {
  width: 15px;
}
.information-box-expiration {
  width: 35%;
}

.information-boxes-row {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
