@import "../../shared/style/baseStyle.scss";
@import "../../shared/style/textStyles.scss";

.settings-label-text{
  font-family: "Fjalla One";
  font-size: 100%;
}

.settings-label-variables{
  font-family: "Gloria Hallelujah";
  font-size: 100%;
}

.information-box-name {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}
.information-box-space {
  width: 15px;
}
.information-box-expiration {
  width: 35%;
}

.information-boxes-row {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
