@import "../../shared/style/baseStyle.scss";
@import "../../shared/style/lineOrganization.scss";
@import "../../shared/style/colors.scss";
@import "../../shared/style/textStyles.scss";

.menu-button{
  position: fixed;
  top: 5%;
  right: 5%;
}

.dialog-background-scrim {
  background: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.settings-card {
  position: fixed;
  right: 5%;
  top: 15%;
  transition-property: opacity;
  width: inherit;
  height: inherit;
  text-overflow: ellipsis;
  background: $backgroundCard;
  padding: 10px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px $baseShadow, 15px 15px 1px 2px black;
}

.position-in-circular-button {
  display: flex;
  vertical-align: middle;
}


.settings-input {
  width: 50px;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: $backgroundCard;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

.setting-label{
  padding-top: 10px;
}
