@import "./app/shared/style/colors.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background-color: $mainBackgroundColor;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.frame-padding {
  padding: 5px;
}

.full-width{
  //width: 80%;
  margin-top:20px;
}

@font-face {
  font-family: "GrowingGarden";
  src: local("GrowingGarden"),
    url(./assets/fonts/GrowingGarden-Regular.ttf) format("regular");
}
