<div class="main-box title-box">
  <p class="title-text">D.O.G:: domesticOrganizationGuru;</p>
</div>

<div class="main-box">
  <form>
    <div class="input-line-position">
      <form>
        <input placeholder="Note name" class="input-line" [formControl]="noteName" #input maxlength="100"
          name="nameNote">
        <button type="submit" class="button" (click)="createNotePack()">Create Note</button>
      </form>
    </div>
    <form>
      <input placeholder="Existing session name" [formControl]="joinSessionByName" name="joinSessionByName" maxlength="100">
      <button type="submit" class="button" (click)="joinSession()">Join session</button>
    </form>
  </form>
</div>
