@import "../../shared/style/baseStyle.scss";
@import "../../shared/style/textStyles.scss";

.todo-header-image {
  background-image: url("/assets/img/dog.jpg");
  background-size: cover;
}

.todo-spacer {
  flex: 1 1 auto;
}

.home-frame {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-note .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.input-line-position{
  width: 100%;
  display: inline-block;
  margin: 20px 0
}

.title-box {
  width: fit-content;
}

.button-padding {
  padding-left: 5%;
}
