@import "../../shared/style/baseStyle.scss";
@import "../../shared/style/textStyles.scss";

.todo-header-image {
  background-image: url("/assets/img/dog.jpg");
  background-size: cover;
}

.todo-spacer {
  flex: 1 1 auto;
}

.home-frame {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-note .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.input-line-position{
  width: 100%;
  display: inline-block;
  margin: 20px 0;
  padding-bottom: 40px;
}

.title-box {
  width: fit-content;
}

.button-padding {
  padding-left: 5%;
}

.main-box-max {
  max-width: 600px !important;
}

.container-password{
  display: flex;
  align-items: baseline;
  &--input-line {
    @extend .container-password;
    display: flex;
  }
}
.checkbox-set-password {
  width: 10%;
  min-width: 50px;
  }

.password-label{
  width: 210px;
}

.flex-item{
  flex-grow: 1;
}

.input-container-line {
  display: flex;
  align-items: center;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
