<mat-card class="todocard">
  <mat-list role="list">

    <mat-toolbar *ngFor="let item of toDoList | async;" class="todoitem" color="primary">
      <mat-toolbar-row>
        <span [ngClass]="{'done-true': item.isComplete}">{{item.noteText}}</span>
        <span class="example-spacer"></span>
        <mat-icon (click)="markItemAsDone(item)" class="btn" *ngIf="!item.isComplete">check</mat-icon>
        <mat-icon (click)="markItemAsNotDone(item)" class="btn" *ngIf="item.isComplete">undo</mat-icon>
        <mat-icon (click)="editItem(item)" class="btn">edit</mat-icon>
        <mat-icon (click)="deleteNoteItem(item)" class="btn">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>

  </mat-list>
  <form class="example-form">
    <mat-form-field class="full-width">
      <input matInput required placeholder="Enter To do" class="textareafull" [(ngModel)]="todoItem.noteText"
        name="noteText">
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-button (click)="addNewItem()" *ngIf="!editValue">Add</button>
    <button mat-button (click)="saveChangedItem()" *ngIf="editValue">Save</button>
  </form>

</mat-card>
