<note-information></note-information>

<div class="main-box--notes-box">
  <mat-list role="list" class="list-spacing">
    <mat-toolbar *ngFor="let item of toDoList | async;" class="todo-item-spacing">
      <mat-toolbar-row [ngClass]="{'finished-note-row': item.isComplete}" class="note-row ">
        <div class="accept-area item">
          <i (click)="markItemAsDone(item)" class="button-pointer" *ngIf="!item.isComplete">
            <span class="material-icons">check_box_outline_blank</span>
          </i>
          <i (click)="markItemAsNotDone(item)" class="button-pointer" *ngIf="item.isComplete">
            <span [ngClass]="{'disabled': signalrService.isBeingEdited}" class="material-icons">check_box</span>
          </i>
        </div>
        <span [ngClass]="{'done-true': item.isComplete}" class="note-text">{{item.noteText}}</span>
        <div class=divider></div>
        <div class="item edit-area">
          <div *ngIf=!item.isComplete>
            <i (click)="editItem(item)" class="button-pointer">
              <span class="material-icons">edit</span>
            </i>
            <i (click)="deleteNoteItem(item)" class="button-pointer">
              <span class="material-icons">delete_outline</span>
            </i>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-list>
    <div class="input-line-position">
    <form>
        <input matInput placeholder="Enter To do" [ngClass]="{'input-disabled': signalrService.isBeingEdited}"
          [(ngModel)]="noteInput" name="noteText" maxlength="50">
        <button [ngClass]="{'button-disabled': signalrService.isBeingEdited}" (click)="addNewItem()"
          *ngIf="!editValue">Add</button>
        <button (click)="saveChangedItem()" *ngIf="editValue">Save</button>
        <div class="input-line-position">
        <p *ngIf="!signalrService.isBeingEdited" class="char-count-label-text">{{countLength()}}/50 characters</p>
        <div *ngIf="signalrService.isBeingEdited" class="loading">
          <span>
            <p class="currently-editing-label-text">Someone is updating the list</p>
          </span>
        </div>
    </div>
  </form>
  </div>
  <br>
</div>

<notes-settings></notes-settings>

