<div class="main-box">
  <mat-list role="list" class="list-spacing">
    <mat-toolbar *ngFor="let item of toDoList | async;" class="todo-item-spacing">
      <mat-toolbar-row [ngClass]="{'finished-landing-row': item.isComplete}" class="landing-row container">
        <span [ngClass]="{'done-true': item.isComplete}" class="item">{{item.noteText}}</span>
        <div class=divider></div>
        <div class="mr-0 item">
          <mat-icon (click)="markItemAsDone(item)" class="button-pointer" *ngIf="!item.isComplete">check</mat-icon>
          <mat-icon (click)="markItemAsNotDone(item)" class="button-pointer" *ngIf="item.isComplete">undo</mat-icon>
          <mat-icon (click)="editItem(item)" class="button-pointer">edit</mat-icon>
          <mat-icon (click)="deleteNoteItem(item)" class="button-pointer">delete</mat-icon>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-list>
  <div class="input-line-position">
    <form>
      <input matInput placeholder="Enter To do" class="textareafull" [(ngModel)]="noteInput" name="noteText"
        maxlength="100">
          <button [ngClass]="{'button-opacity': isEdited() }" (click)="addNewItem()" *ngIf="!editValue">Add</button>
          <button [ngClass]="{'button-opacity': isEdited() }" (click)="saveChangedItem()" *ngIf="editValue">Save</button>
  <div class="input-line-position">
    <p>{{countLength()}}/100 characters.</p>
    </div>
  </form>
  </div>
  <br>
</div>
<notes-settings></notes-settings>

